<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Find out how fast you can type!">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Yuan Phoon">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700,800,600' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="https://avatars3.githubusercontent.com/u/5627669?s=140">
    <link rel='stylesheet' href='/stylesheets/play.css' />
  </head>
  <body>
    <section>
      <h1><%= title %></h1>
      <section class="info">
        <div class="info-box">
          <h3>Score</h3>
          <b><p class="score-number">0</p></b>
        </div>
        <div class="info-box">
          <h3>WPM</h3>
          <b><p class="wpm-number">0</p></b>
        </div>
        <div class="info-box">
          <h3>Max WPM</h3>
          <b><p class="max-wpm-number">0</p></b>
        </div>
      </section>
      <section class="game">
        <p class="inst">Type into the white box, the word:</p>
        <p class="target">start</p>
        <input type="text" class="answer" placeholder="Answer"/>
        <p class="pause-text">Click resume to keep going</p>
        <p class="pause">PAUSED</p>
        <button class="resume"><h3>Resume</h3></button>
        <p class="fail">WRONG!</p>
        <button class="again"><h3>Again</h3></button>
      </section>
      <hr/>
      <h2>Note</h2><br />
      <ul>
        <li>Pressing enter will clear the input box</li>
        <li>Pressing space will pause the game</li>
        <li>Your max WPM score is scored after 3 words</li>
        <li>True WPM is faster than in this game due to prose having repeated shorter words like "the", "in" and "a"</li>
      </ul>
    </section>
    <footer>
      <span>Author <strong>Yuan Phoon</strong>&nbsp;&nbsp;//&nbsp;&nbsp;Powered by <strong>NodeJS, Express 4.0, jQuery</strong></span><br/><br/>
      <span><i>and awesome people:<i></span><br/><br/>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHXwYJKoZIhvcNAQcEoIIHUDCCB0wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBkkb1WoqHuVY7sqWf5PU9rmGghy5Smr6xpDkcohdNuFHz0fFmG1zwU+WMSNA8ow5v5pYQU2BFzi+Vhcg8Smw95rWmGUfMQXSufH0xAaOMUhH/Ev65dSBuTs2Ng+PNDvIN2IBk5odixyeJuddww/QbU76vKOMdGhVyoo4idW9aIujELMAkGBSsOAwIaBQAwgdwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI4JpKPGrGJpSAgbj+Ykwdu9G41iAw8r2H5iKTldzVuf0rH4uyoolmsTuYOUVtVPTOS/57oUWnToB+QNXAnNe5AJao6hH5tYoX9TNrUS4icH1Df6sNhb0H8wskS+NAyyYjjRxA6NQDdRi9R3JxYnd4U9yPYL61OSz4Dx/JHUeZea4fZE383A2wZ1jJgPQD/smW6EDoed7rpH/rIWX5bIZY4rGL5YBiYjdSla86aHwSSkZL4Dd4OlgvAz9cyP+WSMAH3A2voIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQwNTE2MjI1NDE1WjAjBgkqhkiG9w0BCQQxFgQUlpLKb+N0V1Diga7/ADmzS6EMkaMwDQYJKoZIhvcNAQEBBQAEgYBiiuNBNbIyKn7yJ31SdFhZNCVRQwxmPcUZeuNZALZtrZ01reqlmmVn9Jy5bGaL8ZSvpxqkxo77HluazN+yg3MJjdY28tMxZ/FzsqfaBA4Csn5FFqzBxSgPwdnRA93k3FBjBcyQTD2M0MKh3YBZssFzo2Hg+mlX47arByZXGLoLvQ==-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
    </footer>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/play.js"></script>
  </body>
</html>
