<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700,800,600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/play.css' />
  </head>
  <body>
    <section>
      <h1><%= title %></h1>
      <section class="info">
        <div class="info-box">
          <h3>Score</h3>
          <p class="score-number">0</p>
        </div>
        <div class="info-box">
          <h3>WPM</h3>
          <p class="wpm-number">0</p>
        </div>
      </section>
      <section class="game">
        <p class="target">start</p>
        <p>Type the word:</p>
        <input type="text" class="answer" placeholder="Answer"/>
      </section>
      <hr/>
      <h2>Instructions</h2><br />
      <ul>
        <li>Pressing enter will clear the input box</li>
      </ul>
    </section>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/play.js"></script>
  </body>
</html>
