<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/play.css' />
  </head>
  <body>
    <section>
      <h1><%= title %></h1>
      <section class="info">
        <div class="score">
          <p>Score</p>
          <p>#</p>
        </div>
      </section>
      <section class="game">
        <p>Type the following word:</p>
        <p class="target">target</p>
        <input type="text" placeholder="Answer"/>
      </section>
      <hr/>
      <p>This is where the instructions should be</p>
    </section>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/play.js"></script>
  </body>
</html>
