<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Find out how fast you can type!">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Yuan Phoon">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700,800,600' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="https://avatars3.githubusercontent.com/u/5627669?s=140">
    <link rel='stylesheet' href='/stylesheets/play.css' />
  </head>
  <body>
    <section>
      <h1><%= title %></h1>
      <section class="info">
        <div class="info-box">
          <h3>Score</h3>
          <b><p class="score-number">0</p></b>
        </div>
        <div class="info-box">
          <h3>WPM</h3>
          <b><p class="wpm-number">0</p></b>
        </div>
        <div class="info-box">
          <h3>Max WPM</h3>
          <b><p class="max-wpm-number">0</p></b>
        </div>
      </section>
      <section class="game">
        <p>Type into the white box, the word:</p>
        <p class="target">start</p>
        <input type="text" class="answer" placeholder="Answer"/>
      </section>
      <hr/>
      <h2>Note</h2><br />
      <ul>
        <li>Pressing enter will clear the input box</li>
        <li>Your WPM score is scored after 3 words</li>
        <li>True WPM is faster than in this game due to prose having repeated shorter words like "the", "in" and "a"</li>
      </ul>
    </section>
    <footer>
      <span>Author <strong>Yuan Phoon</strong>&nbsp;&nbsp;//&nbsp;&nbsp;Powered by <strong>NodeJS, Express 4.0, jQuery</strong></span>
    </footer>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/play.js"></script>
  </body>
</html>
