<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Find out how fast you can type!">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Yuan Phoon">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700,800,600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/play.css' />
  </head>
  <body>
    <section>
      <h1><%= title %></h1>
      <section class="info">
        <div class="info-box">
          <h3>Max WPM</h3>
          <p class="max-wpm-number">0</p>
        </div>
        <div class="info-box">
          <h3>WPM</h3>
          <p class="wpm-number">0</p>
        </div>
        <div class="info-box">
          <h3>Score</h3>
          <p class="score-number">0</p>
        </div>
      </section>
      <section class="game">
        <p class="target">start</p>
        <p>Type the word:</p>
        <input type="text" class="answer" placeholder="Answer"/>
      </section>
      <hr/>
      <h2>How to play</h2><br />
      <ul>
        <li>Type the word start in the input box to begin</li>
        <li>Type the words as they appear</li>
        <li>Answers are not case sensitive</li>
        <li>Pressing enter will clear the input box</li>
      </ul>
      <h2>About</h2><br />
      <ul>
        <li>The game will display 1 of 5,000 commonly used words in the English language</li>
        <li>The words are spelt in their American format</li>
        <li>Your Word Per Minute score isn't actually your true typing speed. A normal selection of prose will have many more shorter words, repeated. For instance "the", "in", "a" or "and".</li>
      </ul>
    </section>
    <footer>
      <span class="author">Author <strong>Yuan Phoon</strong></span>
      <span class="powered-by">Powered by <strong>NodeJS, Express 4.0, jQuery</strong></span>
    </footer>
    <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/play.js"></script>
  </body>
</html>
