<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/play.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is where the target box is</p>
    <input type="text" placeholder="This is where the answer box is"/>
    <p>This is where the instructions should be</p>
  </body>
</html>
