html {
  background-color: #FFEEE3;
}

body {
  padding: 2rem;
  font-size: 14px;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  color: #333333;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

hr {
  margin: 1rem 0;
}

p {
  font-size: 0.8rem;
}

ol, ul {
  list-style: disc inside;
  font-size: 0.8rem;
}

li {
  margin: 0 0 0.5rem 0;
}

b, strong {
  font-weight: 700;
}

::-webkit-input-placeholder {
  color: #DADADA;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #DADADA;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #DADADA;
}

:-ms-input-placeholder {
  color: #DADADA;
}

footer {
  width: 30rem;
  margin: 2rem auto 0 auto;
  font-weight: 300;
}

/*------------------------  BASE-REM SIZING  */
@media (min-width: 1401px) {
  html {
    font-size: 22px;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 21px;
  }
}
/* target screen width  */
@media (max-width: 1280px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1160px) {
  html {
    font-size: 19px;
  }
}
@media (max-width: 1040px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 920px) {
  html {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 680px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 440px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 14px;
  }
}
