body section {
  max-width: 30rem;
  margin: 0 auto;
}
body section h1 {
  text-align: left;
  margin: 0 5rem 2rem 5rem;
}
body section .info {
  width: 20rem;
  height: 4rem;
  margin: 0 5rem;
}
body section .info .scoreboard {
  float: right;
  width: 6rem;
  padding: 0.5rem;
  border: solid 1px;
  text-align: center;
}
body section .game {
  text-align: center;
  margin: 1rem 0;
  height: 13rem;
}
body section .game .target {
  font-size: 4rem;
  font-weight: 600;
}
body section input {
  margin: 2rem 0;
  height: 4rem;
  width: 20rem;
  font-size: 3rem;
  text-align: center;
}
