body {
  background: linear-gradient(white, #ffeee3);
}
body section {
  max-width: 30rem;
  margin: 0 auto;
}
body section h1 {
  text-align: center;
  margin: 0 5rem 2rem 5rem;
}
body section .info {
  width: auto;
  height: 4rem;
  text-align: center;
}
body section .info .info-box {
  display: inline-block;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  background-color: #CDB38B;
  color: #FFFFFF;
}
body section .game {
  text-align: center;
  height: 16rem;
}
body section .game .target {
  margin: 1rem 0 2rem 0;
  font-size: 4rem;
  font-weight: 600;
}
body section .game .pause-text {
  display: none;
}
body section .game .pause {
  display: none;
  margin: 1rem 0 2rem 0;
  font-size: 4rem;
  font-weight: 600;
}
body section .game .resume {
  display: none;
  margin: 2rem auto;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #FF7F50;
  color: #FFFFFF;
  outline: none;
}
body section .game .fail {
  display: none;
  margin: 1rem 0 2rem 0;
  font-size: 4rem;
  font-weight: 600;
}
body section .game .again {
  display: none;
  margin: 2rem auto;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #FF7F50;
  color: #FFFFFF;
  outline: none;
}
body section input {
  height: 4rem;
  width: 20rem;
  font-size: 3rem;
  text-align: center;
  box-shadow: none;
  border-radius: 1rem;
  outline: none;
}
body footer {
  width: 100%;
  text-align: center;
}
body footer input {
  display: inline-block;
}
