body {
  background: linear-gradient(#FFFFFF, #FFEEE3);

  section {
    max-width: 30rem;
    margin: 0 auto;

    h1 {
      text-align: center;
      margin: 0 5rem 2rem 5rem;
    }

    .info {
      width: auto;
      height: 4rem;
      text-align: center;

      .info-box {
        display: inline-block;
        width: 5rem;
        padding: 0.5rem;
        border-radius: 1rem;
        text-align: center;
        background-color: #CDB38B;
        color: #FFFFFF;

        .selected {
          text-decoration: underline;
        }
      }

    }

    .game {
      text-align: center;
      height: 16rem;

      .target {
        margin: 1rem 0 2rem 0;
        font-size: 4rem;
        font-weight: 600;
      }

      .pause-text {
        display: none;
      }

      .pause {
        display: none;
        margin: 1rem 0 2rem 0;
        font-size: 4rem;
        font-weight: 600;
      }

      .resume {
        display: none;
        margin: 2rem auto;
        font-size: 2rem;
        padding: 0.5rem;
        border-radius: 1rem;
        background-color: #FF7F50;
        color: #FFFFFF;
        outline: none;
      }

      .fail {
        display: none;
        margin: 1rem 0 2rem 0;
        font-size: 4rem;
        font-weight: 600;
      }

      .again {
        display: none;
        margin: 2rem auto;
        font-size: 2rem;
        padding: 0.5rem;
        border-radius: 1rem;
        background-color: #FF7F50;
        color: #FFFFFF;
        outline: none;
      }

    }

    input {
      height: 4rem;
      width: 20rem;
      font-size: 3rem;
      text-align: center;
      box-shadow: none; 
      border-radius: 1rem;
      outline: none;
    }

  }

  footer {
    width: 100%;
    text-align: center;
    input {
      display: inline-block;
    }
  }

}