body {
  background: linear-gradient(#FFFFFF, #FFEEE3);

  section {
    max-width: 30rem;
    margin: 0 auto;

    h1 {
      text-align: left;
      margin: 0 5rem 2rem 5rem;
    }

    .info {
      width: 20rem;
      height: 4rem;
      margin: 0 5rem;

      .info-box {
        float: right;
        width: 5rem;
        margin: 0 0.25rem;
        padding: 0.5rem;
        border-radius: 1rem;
        text-align: center;
        background-color: #CDB38B;
        color: #FFFFFF;
      }

    }

    .game {
      text-align: center;
      height: 13rem;

      .target {
        margin: 0 0 2rem 0;
        font-size: 4rem;
        font-weight: 600;
      }

    }

    input {
      height: 4rem;
      width: 20rem;
      font-size: 3rem;
      text-align: center;
      box-shadow: none; 
      border-radius: 1rem;
      outline: none;
    }

  }

}